# Jekyll
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# Ruby
*.gem
*.rbc
.bundle/
vendor/
Gemfile.lock

# VSCode
.vscode/

# Sistema
.DS_Store
Thumbs.db
*.swp
*~

# Logs
*.log

# Outros
node_modules/
.env
.env.*
coverage/

# Imagens e arquivos temporários
*.tmp
*.bak
*.old
